/*  .tab.current-tab {
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 4px;
}

.form-container.active {
  scale: 1;
  opacity: 1;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

:root {
  ---colorDark1: #112d4e;
  ---colorDark2: #3f72af;
  ---colorLight1: #dbe2ef;
  ---colorLight2: #f9f7f7;
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: url("https://myradar.com/static/background-a089d87ba11e1a4c45a8efa960b86092.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper::before{
  
}

.container {
  width: 100vw;
  /* height: 100vh; */
  color: var(---colorLight2);
 
}

.tab-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 3rem;
}

.container h1 {
  text-align: center;
  font-size: 2.5rem;
 
  color: #23e9f5;
  padding-top: 10px;
}

.tab.current-tab {
  background-color: rgba(219, 226, 239, 0.5);
  border-radius: 4px;
}

.tab {
  cursor: pointer;
  padding: 0.5rem;
  letter-spacing: 1.75px;
}

.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 3rem; /*top and bottom margin*/
}
.btn {
  all: unset;
  background-color: var(---colorDark2);
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
}

.grant-location-container {
  display: none;
}

.sub-container {
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grant-location-container.active {
  display: flex;
}

.grant-location-container img {
  margin-bottom: 2rem;
}

.grant-location-container p:first-of-type {
  font-size: 1.75rem;
  font-weight: 600;
}

.grant-location-container p:last-of-type {
  font-size: 0.85rem;
  font-weight: 500;
  margin-top: 0.75rem;
  margin-bottom: 1.75rem;
}

.loading-container {
  display: none;
}

.loading-container.active {
  display: flex;
}

.loading-container p {
  text-transform: uppercase;
}

.user-info-container {
  display: none;
}

.user-info-container.active {
  display: flex;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center; /*vertically center*/
  gap 0 0.5rem;
  margin-bottom: 1rem;
}


.user-info-container img{
  width: 90px;
  height: 90px;
}
.name p{
  font-size: 2rem;
}

.name img{
  width: 30px;
  height: 30px;
}

.user-info-container p[data-weatherDesc]{
  font-size: 1.5rem;
  font-weight: 200;

}

.user-info-container p[data-temp]{
  font-size: 2.75rem;
  font-weight: 700;
}

.parameter-container{
  display: flex;
  gap: 10px 20px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.parameter{
  width: 30%;
  max-width: 200px;
  background-color: rgba(219,226,239,0.5);
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  align-items: center; /*horizontal center*/
}

.parameter img{
  width: 50px;
  height: 50px;
}

.parameter p:first-of-type{
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 600;
}
.parameter p:last-of-type{
  font-size: 1rem;
  font-weight: 200;

}

.form-container{
  display: none;
  
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 3rem;
}

.form-container.active{
  display: flex;
}

.form-container input{
  all: unset;
  width: calc(100% - 80px);
  height: 40px;
  padding: 0 20px;
  background-color: rgba(219,226,239,0.5);
  border-radius: 10px;
}

.form-container input::placeholder{
  color: white;
}

.form-container input:focus{
  outline: 3px solid white;
}

.form-container .btn{
  padding: unset;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}


/*ERROR*/

p#errShow {
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
}

.errorMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  display: none;
}


/* @keyframes example {
  0%   {left:0px; top:0px;}
  25%  {left:-200px; top:0px;}
  50%  {left:200px; top:0px;}
  75%  {left:-200px; top:0px;}
  100% {left:200px; top:0px;}
} */
h2#errCode {
  font-size: 13rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

span#err {
  text-transform: uppercase;
  font-size: 33px;
  
  position: relative;
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.errorMsg.active{
display: flex;
}

.errorImg{
  border-radius: 50%;
  animation: animateImg 2s infinite alternate;
  position: relative;
  /* amimation-direction: alternate; */
  animation-timing-function: ease-in-out;
}

@keyframes animateImg {
  0%{
    top: 80px;
  }
 
  100%{
    top: 0px;
  }
}